.DS_Store
node_modules
/build
.env
.env.*
!.env.example
*.log
*.lock
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/target/
.nrepl-port
.cpcache/
node_modules
.lsp
.shadow-cljs
.clj-kondo
public/css/*
public/js/*
env.edn